body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f1f2f4;
}


.flipart__header--navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding: 20px;

}

.flipart__header--navbar .menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
}

.flipkart-search {
  width: 700px;
  margin-left: 40px;
  margin-right: 200px;
  height: 25px;
  background-color: #f0f5ff;
  border: none;
  padding: 10px;
  padding-left: 30px;
  border-radius: 10px;
}

.mg-image {
  height: 20px;
  width: 20px;
  position: relative;
  left: 65px;
}

.menu-items {
  gap: 50px;
  font-weight: 700px;

}

.option2:hover {
  background-color: #2a54e3;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  -webkit-transform: scale(1.1, 1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
  -moz-transform: scale(1.07, 1.07);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 0.3s;
}